################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Task1/bin/Debug
/Task1/.vs/Task1/v16
/Task1/obj/Debug
/Task2/.vs/Task2/v16
/Task2/bin/Debug
/Task2/obj/Debug
/Task3/obj
/Task3/bin
/Task3/.vs/Task3/v16
