################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Task1/bin/Debug
/Task1/.vs/Task1/v16
/Task1/obj/Debug
